/*Configuración General de la página*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --color-1: #0579CC;
  --color-2: #04113b;
  --color-3: #ffffff;
  --color-4: #0d1a27;
  --color-5: #98CA3F;
  --color-6: #808080;
  --letra-1: 'Grandstander', 'Sans-Serif';
  --letra-2: 'Roboto', 'Sans-Serif';
  --letra-3: 'Fjalla One', Sans-Serif;
}

/*Header*/

.header {
  height: 7rem;
}

.logo img {
  height: 7rem;
}

.menu a {
  font-size: 2rem;
  margin-right: 2rem;
}

.menu a:hover {
  color: var(--color-1);
  font-size: 2.5rem;
}

/*Sección Principal*/

.hero {
  height: 40rem;

}

h1 {
  font-size: 4rem;
  max-width: 70rem;
}

.container-imghero img {
  height: 38rem;
}

/*Proyectos*/

h2 {
  font-size: 3rem;
  margin: 3rem 0 1rem 1rem;
}

.container-proyecto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.proyecto-imageContainer img {
  width: 80rem;
}

.container-titulo {
  margin-right: 1rem;
  padding: 2.5rem;
}

.proyecto-titulo {
  font-size: 2.2rem;
}

.proyecto-temas, .proyecto-fecha {
  font-size: 1.6rem;
}

.proyecto-descripcion {
  font-size: 1.8rem;
}

/*Cursos*/

.cursos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.curso {
  min-width: 50rem;
  max-width: 70rem;
}

.curso-titulo {
  font-size: 2.2rem;
}

.curso-detalle {
  margin: 1rem;
  font-size: 1.8rem;
  max-width: 50rem;
}

.curso-descripcion {
  margin-bottom: 3rem;
}

.curso-imageContainer img {
  width: 50rem;
}

.curso-url:hover {
  background-color: var(--color-1);
  color: var(--color-3);
}


/*Contacto*/

.contacto h3 {
  font-size: 2.5rem;
}

.form-email input {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.form-email button {
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form-email button:hover {
  background-color: var(--color-2);
}

.social {
  margin-right: 4rem;
}

.social a i {
  font-size: 8rem;
  margin: 2rem;
}

.social a i:active {
  font-size: 9rem;
}

.social a i:hover {
  font-size: 9.5rem;
  color: var(--color-4);
}

/*Footer*/

.pie p {
  margin: 0 1rem;
  font-size: 1.6rem;
}