body {
  font-family: 'Roboto', 'Sans-Serif';
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Grandstander', 'Sans-Serif';
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: -.2px;
  color: #ffffff;
  height: 300px;
  text-align: start;
  padding: 30px 30px;
  margin: 0;
}

h1 strong {
  color: #04113b;
}

h2 {
  color: #04113b;
  text-transform: uppercase;
  font-family: 'Grandstander', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.header {
  background-color: #ffffff;
  color: #04113b;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  color: #0579CC;
  font-weight: bold;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.menu {
  height: inherit;
}

.hero {
  height: 300px;
  background-color: #0579CC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.hero-img {
  border-radius: 10px;
}

.portafolio {
  padding: 20px;
}

.proyecto {
  border: 2px solid #0579CC;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: #0579CC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proyecto-titulo {
  color: #04113b;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}

.proyecto-temas {
  color: #04113b;
  margin: 10px 0;
}

.proyecto-fecha {
  color: #04113b;
  margin: 10px 0;
}

.proyecto-descripcion {
  color: #04113b;
  font-size: 20px;
}

.proyecto strong {
  font-family: 'Fjalla One', sans-serif;
}

.proyecto-detalles {
  background-color: #ffffff;
  width: 500px;
  border: 1px solid #0579CC;
  border-radius: 5px;
  padding: 10px 10px;
}

.proyecto-imageContainer {
  width: 520px;
  height: 300px;
  margin: 10px;
}

.proyecto-imagen {
  border-radius: 5px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.pie {
  background-color: #0d1a27;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
}

.cursos-titulos {
  margin-left: 10px 0 0 0;
}

.curso {
  border: 2px solid #0579CC;
  margin: 20px;
  width: 450px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #0579CC;
}

.curso img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.curso-detalle {
  border: 1px solid #0579CC;
  border-radius: 5px;
  margin: 20px 40px;
  margin-top: -40px;
  background-color: #ffffff;
  position: relative;
  padding: 20px;
  text-align: center;
}

.curso-descripcion {
  text-align: left;
}

.curso-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contacto {
  color: #ffffff;
  width: 1000px;
  height: 150px;
  margin: 0 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.github {
  background-image: url('../Img/GitHub.png');
}

.social-link.linkedin {
  background-image: url('../Img/linkedin.png');
}

.social-link.facebook {
  background-image: url('../Img/logo_facebook.png');
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../Img/correo.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: #ffffff;
  width: 100px;
  border-radius: 5px;
  padding: 10px 0; 
}

.form-email h3 {
  font-family: 'Grandstander', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.container-contacto {
  width: auto;
  background-color: #0579CC;
}

.pie a {
  color: #ffffff;
}